@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 18px;
    font-family: "Garamond Pro", sans-serif;
    /* @apply text-base */
  }
  h1 {
    @apply text-7xl;
    @apply tracking-tight;
    font-family: "Garamond Pro Display", sans-serif;

  }
  h2 {
    @apply text-3xl;
    font-family: "Garamond Pro Display", sans-serif;
  }
  h3 {
    @apply text-3xl
  }
  h4 {
    @apply text-lg;
    @apply uppercase;
    @apply tracking-widest;
    font-family: "Franklin Gothic Compressed", sans-serif;
    /* font-weight: 500; */
  }
}